.jumbotron {
    background-image: url(https://rare-gallery.com/uploads/posts/305409-Hayabusa-Shadow-of-Obscurity-Skin-Mobile-Legends-4K.jpg);
    background-size: cover;
    height: 720px;
    text-align: center;
    margin-top: -60px;
}

.jumbotron .display-4 {
    margin-top: 200px;
    color: white;
}

.jumbotron p {
    font-size: 20px;
    color: white;
}

.jumbotron .btn {
    background-color: rgb(89, 9, 126);
    border: none;
    border-radius: 30px;
    margin-top: 80px;
}

.form-group {
    margin-right: 50px;
    margin-left: 50px;
}

.form-check {
    margin-right: 50px;
    margin-left: 50px;
}

.tombol-form {
    margin-right: 50px;
    margin-left: 50px;
}

.fa-house-chimney {
    color: crimson;
}

.fa-receipt {
    color: crimson;
}

.fa-envelope {
    color: crimson;
}

.container h3 {
    text-align: center;
    color:white;
}

.fa-gem {
    color: goldenrod;
    margin-right: 15px;
    margin-left: 15px;
}

.container .fa-gem {
    color:aquamarine;
}

.maps {
    margin-right: 150px;
    margin-left: 150px;
}

.fa-map-location {
    color: red;
    margin-right: 15px;
    margin-left: 15px;
}

.fa-youtube {
    color: red;
    margin-right: 15px;
    margin-left: 15px;
}